---
name: Setup NodeJS app
on:
  workflow_call:
    secrets:
      SSH_HOST:
        required: true
      SSH_USER:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      SERVER_DEPLOY_PATH:
        required: true
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH keys
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'dummy_value'
      - name: Add known hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
      - name: Setup node app on the server
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} '
          cd "${{ secrets.SERVER_DEPLOY_PATH }}"
          pnpm install
          '
