---
name: Build and Deploy Node app to Private Server over SSH
on:
  workflow_call:
    inputs:
      project-name:
        required: false
        type: string
        default: ${{ github.repository }}
      build-script:
        required: false
        type: string
        default: build
    secrets:
      SSH_HOST:
        required: true
      SSH_USER:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      SERVER_DEPLOY_PATH:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Install dependencies
        uses: jaid/action-npm-install@v1.2.4
      - name: Build project
        run: npm ${{ inputs.build-script }}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Setup SSH keys
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ''
      - name: Add known hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
      - name: Deploy with Rsync
        run: rsync -avz . ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:${{ secrets.SERVER_DEPLOY_PATH }}
